// Normally mainpage styles
.out
	width: 1148px 
	margin: 0 auto
	+r
		width: auto 

.hide-water
	#borjomiwaterscreen .photo3d__pic
		display: none
.hide-3d
	#borjomi3d .photo3d__pic
		display: none
.hide-video
	.busonline__video, .borjomimusic__video
		display: none



.header
	background: #94B3AE
	background: #fff 
	padding: 7px 0 15px 0
	overflow: hidden
	border-bottom: 9px solid #9B8052 
	.header__logo
		float: left
		+s(logo1)
		+hide-text
		display: block
		margin-left: 38px 
	ul
		list-style: none
		text-align: right
		font-size: 16px 
		text-transform: uppercase
		padding-top: 13px 
		// margin-right: 48px 
		float: right
		+r1
			display: none
		li
			display: inline-block
		a
			display: inline-block
			color: #053766
			color: #AA7F4D 
			text-decoration: none 
			margin-left: 12px 
			padding: 0 22px 
			height: 32px 
			line-height: 32px 
			border: 3px solid #AA7F4D 
			&:hover
				color: #fff
				background: #AA7F4D 
				
	select
		display: none
		+r1
			display: block
			float: right
			width: 200px 
			margin-right: 20px 
			margin-top: 10px 

.buspromo
	position: relative
	background: #94B3AE 
	text-align: center
	// padding-bottom: 76px 
	margin-bottom: 101px 
	.buspromo__illustration
		overflow: hidden
		background: url(../img/top2.jpg) no-repeat 50% 0
		-webkit-background-size: cover 
		-o-background-size: cover 
		background-size: cover  
		padding: 500px 0 60px 0 
		+r1
			background: #649693 
			padding-top: 300px 
		img
			display: block
			width: 100%  
	.buspromo__dates
		+s(when)
		+hide-text
		position: absolute
		left: 37px
		top: 49px 
		// display: none
	.buspromo__bus
		top: 49px 
		right: 34px 
		position: absolute
		display: block
		+s(bus)
		+hide-text

	.buspromo__alphajazz
		right: 44px 
		top: 60px 
		position: absolute
		+s(jazz)
		background: transparent 
	.buspromo__text
		font-size: 15px 
		text-transform: uppercase
		text-align: center
		padding: 0 40px  
		color: #fff 
		line-height: 1.1 
		 
		p
			max-width: 600px 
			margin: 0 auto
		strong
			+b
			font-weight: normal
	.buspromo__actions
		margin-top: 64px 
		text-align: center
		a
			display: inline-block
			border: 3px solid #fff
			font-size: 20px 
			text-transform: uppercase
			text-decoration: none
			color: #fff 
			padding: 0 22px
			height: 42px  
			line-height: 42px 
			+r1
				display: block
				margin: 0 0 5px 0 !important 
			&:first-child
				margin-right: 100px 
			&:hover
				background: #AA7F4D
				color: #fff  
				border-color: #AA7F4D 
.h2
	font-weight: normal
	+b
	background: #007671
	text-align: center
	font-size: 36px  
	height: 65px
	line-height: 65px + 10px
	border-bottom: 9px solid #AA7F4D
	// box-shadow: 0 4px 0 #9B8052
	margin-bottom: 24px  
	text-transform: uppercase
	color: #fff  
	+r1
		font-size: 25px
		overflow: hidden
.videostart
	position: absolute
	top: 50%
	left: 50%
	width: 300px   
	text-align: center
	margin-left: -150px 
	margin-top: -40px 
	cursor: pointer
	i
		+s(video)
		display: inline-block
	.videostart__label
		display: block
		font-weight: normal
		+b
		text-transform: uppercase
		font-size: 26px 
		color: #fff 
		margin-top: 14px 
.busonline
	.busonline__video
		position: relative
		position: relative
		width: 100%
		height: 0
		padding-bottom: 60%   
		iframe
			width: 100%
			height: 100%  
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0    

.bustext
	margin-top: 93px 
	overflow: hidden
	padding-bottom: 30px 
	.bustext__info
		width: 505px 
		margin-left: 64px 
		+r0
			width: auto
			margin: 20px 
	.bustext__features
		list-style: none
		margin-bottom: 47px 
		+r0
			text-align: center
		li
			display: inline-block
			vertical-align: bottom
			margin: 0 20px 
			text-align: center
		span
			font-size: 12px 
			color: #006E68
			text-transform: uppercase 
			display: block
			margin-top: 5px 
		i
			display: inline-block
		@each $s in sound,lviv,wifi,mood
			.i-#{$s}
				+s(#{$s})
	.bustext__text
		font-size: 16px 
		color: #082038
		text-transform: uppercase
		+r0
			margin: 20px 
		strong
			+b
	.share
		margin-top: 40px 
	.bustext__welcome
		float: right
		margin-top: 61px
		width: 50%
		text-align: center 
		+r0
			width: auto
			margin-left: 0
			display: block
			float: none
			margin-top: 0 
		img
			display: block
			width: 80%
			margin-left: 10%

.slick-active
	// -webkit-transform: scale(1.1) !important
	// transform: scale(1.2) !important
.sl
	.sl__slide
		position: relative
	.poster
		overflow: hidden
		img
			display: block
			width: 100% 
.sl__wrap
	height: 360px 
	position: relative
	z-index: 2000 
	margin-top: 100px 
.slick-active+.slick-active
	position: relative
	z-index: 1900 
	.poster
		z-index: 1900 
		position: absolute
		left: -20px
		right: -20px
		top: -25px  
.slick-active+.slick-active+.slick-active+.slick-active+.slick-active
	position: static
	.poster
		position: static
.poster__over
	position: absolute
	bottom: 0  
	position: absolute
	left: 0
	right: 0
	height: 404px   
	background: url(../img/busover.png) no-repeat 0 100% 
	//background-size: cover
	+background-size(100%, auto)
	//background-size: contain 
	z-index: 500 
	//display: none
	opacity: 0 
	+transition(all .1s ease-in-out)
.sl .slick-center
	// -webkit-transform: scale(1.3) !important 
	// transform: scale(1.5) !important 
	position: relative
	z-index: 2000 
	.poster
		position: absolute
		left: -40px
		right: -40px
		top: -50px  
		+transition(all .2s linear)
		.poster__over
			display: block
			opacity: 1 
			+transition(all .5s ease-in-out)
.slick-list
	padding-top: 70px !important
	padding-bottom: 70px !important
.map
	margin-bottom: 50px 
	+max-screen(480)
		margin-top: 140px 
	&>ymaps
		width: 100% !important
		


.hashtag
	margin-bottom: 109px 
	//display: none
	.hashtag__title
		text-align: center
		border-top: 3px solid #AA7F4D 
		margin-bottom: 10px 
		span
			display: inline-block
			position: relative
			top: -.5em 
			padding: 0 65px
			background: #fff
			font-size: 24px   
			font-weight: normal
			color: #001F3A
			line-height: 1 
			text-transform: uppercase
			+b 
	.hashtag__feed
		margin-right: 0 
		font-size: 0 
		font-size: 0 
		//margin-right: -10% 
		overflow: hidden
		a
			width: 16%
			display: inline-block
			margin: 0 0 10px 5%
			float: left
			overflow: hidden
			&:first-child
				margin-left: 0 
			&:nth-child(5n+1)
				margin-left: 0 
			img
				display: block
				width: 100% 

.placeholder .hashtag
	margin-top: 40px 
.share
	text-transform: none
// borjomimusic
.borjomimusic
	position: relative
	margin-bottom: 107px 
	.borjomimusic__info
		width: 543px 
		margin-left: 50px 
		margin-bottom: 61px 
		+r0
			width: auto
			margin: 20px 
	.borjomimusic__illustration
		position: absolute
		top: 107px 
		right: 83px 
		z-index: 10 
		+r0
			display: none
	.borjomimusicg__text
		font-size: 16px 
		text-transform: uppercase
		color: #082038
		padding-top: 28px 
		strong
			font-weight: normal
			+b

	.share
		margin-top: 40px 
	.borjomimusic__map
		margin-top: 45px 
		overflow: hidden
	.borjomimusic__video
		position: relative
		position: relative
		width: 100%
		height: 0
		padding-bottom: 60%   
		iframe
			width: 100%
			height: 100%  
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0  

.water
	margin-bottom: 107px 
	.water__text
		text-align: center
		font-size: 16px 
		color: #082038
		text-transform: uppercase
		width: 60%
		margin: 0 auto
		padding-top: 20px   
		margin-bottom: 40px 
		strong
			font-weight: normal
			+b
		.share
			margin-top: 33px 
	.water__pics
		overflow: hidden
		ul
			float: left
			list-style: none
			width: 457px 
			+r
				width: 100%
			li
				float: left
				margin: 0 7px 7px 0 
				+r
					margin: 0 
					width: 50%
			img
				display: block
				+r
					width: 100%
		ul+ul
			float: right
			width: auto 
			width: 694px 
			overflow: hidden
			margin-left: -6px 
			+r
				width: 100%
				margin: 0 
			li
				+r
					display: block
					width: 100% 

.photo3d
	margin-bottom: 70px 
	.photo3d__info
		overflow: hidden
	.photo3d__pic

		img
			display: block
			+r
				width: 100% 
	.photo3d__text
		float: left
		width: 635px - 50px - 50px - 2px
		font-size: 16px 
		color: #082038
		text-transform: uppercase
		padding: 70px 50px 0 50px 
		+r
			padding: 20px 
			width: auto
			float: none
		strong
			font-weight: normal
			+b
		.share
			margin-top: 20px 
	.photo3d__map
		float: right
		+r
			float: none
.friends
	border-top: 17px solid #9A8050
	//border-bottom: 17px solid #006E68
	padding: 34px 0 41px 0
	text-align: center
	padding: 0 
	*
		display: none
	h3
		font-weight: normal
		+b
		font-size: 26px 
		color: #2E8A86
		text-transform: uppercase
		margin-bottom: 16px
	ul
		list-style: none
		text-align: center
		font-size: 0 
		li
			display: inline-block
		a
			display: inline-block
			margin-right: 9px 
	@each $s in fb,tw,in,gp
		.friends__#{$s}
			+s(#{$s})


.schedule
	margin: 100px 0 100px 0
	.schedule__img
		display: none
		+r
			display: block
		img
			+r
				display: block
				width: 100% 
			 
	.schedule__title
		font-size: 24px 
		border-top: 3px solid #AA7F4D
		text-transform: uppercase
		font-weight: normal
		color: #001F3A
		text-align: center
		+b
		 
		span
			display: inline-block
			padding: 0 36px
			background: #fff  
			position: relative
			top: -.6em 
			line-height: 1 
	table
		border-spacing: 10px
		border-collapse: collapse  
		width: 100% 
		+r
			display: none
		a
			display: block
			padding: 0 10px
			text-decoration: none 
			color: #001F3A 
		thead
			th
				font-weight: normal
				text-align: center
				border-right: 10px solid #fff 
				// &:first-child
				// 	text-align: left
				// 	div
				// 		padding-left: 15px 
				div
					background: #9B8052
					background: #A97F4D 
					font-size: 26px  
					height: 40px 
					line-height: 44px 
					color: #fff 
					border-bottom: 10px solid #fff 
					strong
						font-weight: normal
						+b
		tbody
			td,th
				background: #C4D4CF 
				background: #33938F 
				font-size: 18px 
				color: #001F3A
				color: #fff 
				border-bottom: 3px solid #fff
				border-right: 10px solid #fff  
				a
					color: #fff 
				&:hover
					opacity: .7 
			th
				font-weight: normal
				// text-align: left
				// padding-left: 15px 
				text-align: center
				height: 32px 
				vertical-align: middle 
				background: #fff 
				font-size: 18px 
				color: #AA7F4D 
				padding: 0 
				div
					width: 100% 
					box-shadow: inset 0 0 0 2px #AA7F4D
					height: 28px
					line-height: 28px  
			td
				text-align: center
				vertical-align: middle
				text-transform: uppercase
				&.empty
					background: #fff 


.insidepage
	.out
		border-bottom: 3px solid #AA7F4D 
.h
	background: #007873
	color: #fff
	border-bottom: 9px solid #AA7F4D   
	margin-bottom: 40px 
	padding-left: 30%
	min-height: 78px  
	position: relative
	+r1
		padding-left: 20px 
		padding-bottom: 10px 
	.h__back
		position: absolute
		left: 15px 
		top: 20px 
		border: 3px solid #fff
		font-size: 16px 
		text-transform: uppercase
		color: #fff
		text-decoration: none
		padding: 0 18px 0 15px 
		height: 30px 
		line-height: 33px
		+r1
			display: inline-block
			position: static
			margin-top: 10px 
		&:before
			content: ' '
			+s(arr-left)
			vertical-align: middle
			margin-right: 10px 
			display: inline-block
			position: relative
			top: -2px 
		&:hover	
			background: #fff
			color: #007873
			&:before
				+s(arr-left1)  
	.h__text
		font-size: 25px 
		text-transform: uppercase
		line-height: 1
		padding-top: 15px 
		&.h__text-big
			
	&.h_big
		text-align: center
		padding-left: 0
		
		+r
			padding-left: 20% 
		+r1
			padding-left: 20px 
			text-align: left
		.h__text
			font-size: 36px 
			padding-top: 25px 

.form
	overflow: hidden
	padding-bottom: 30px 
	+r1
		margin: 0 20px
	.form__text
		font-size: 9px 
		margin-left: 30%
		color: #001F3A  
		text-transform: uppercase
		+r1
			margin-left: 0 
			margin-top: 15px 
	.form__submit
		float: right
		margin-right: 161px 
		width: 140px 
		height: 38px 
		line-height: 38px
		text-decoration: none
		text-transform: uppercase
		color: #fff  
		background: #AA7F4D 
		text-align: center
		font-size: 14px 
		+r1
			float: none
			margin: 0 
.field
	overflow: hidden
	margin-bottom: 6px 
	&.is-last
		margin-bottom: 40px 
	.field__label
		float: left
		width: 30%
		text-transform: uppercase
		font-size: 13px  
		color: #001F3A 
		line-height: 1
		padding-top: 6px  
		+box
		padding-right: 10px 
		text-align: right
		+r1
			width: auto 
			float: none
	.field__right
		overflow: hidden
		padding-right: 161px 
		+r1
			padding-right: 0
			overflow: visible 
		input[type=text]
			width: 100%
			+box
			background: #fff  
			border: 3px solid #AA7F4D 
			padding: 0 10px 
			height: 35px 
			font-size: 14px 
			line-height: normal 

.checkbox
	cursor: pointer
	margin-right: 22px 
	span
		font-size: 16px 
		vertical-align: middle
		display: inline-block
	i
		height: 33px 
		width: 33px 
		border: 3px solid #AA7F4D
		display: inline-block
		vertical-align: middle
		position: relative  
		margin-right: 7px 
	input
		display: none
	input:checked+i
		&:before
			position: absolute
			content: ' '
			height: 14px 
			width: 14px 
			background: #007873 
			top: 10px 
			left: 10px 
.rules
	max-width: 740px 
	margin: 30px auto 
	+r1
		margin: 30px 20px 
	a
		color: #B49069 
	h3
		text-transform: uppercase
		font-weight: normal
		font-size: 110%
		+b
		margin-bottom: 6px 
	p
		margin-bottom: 1.5em 
//hide
.sl__wrap,.map,.schedule,.placeholder,.friends
	display: none 


